= form_for @report do |f|
  - if @report.errors.any?
    #error_explanation
      %h2= "#{pluralize(@report.errors.count, "error")} prohibited this report from being saved:"
      %ul
        - @report.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :start_date
    .row
      .col.md6
        = f.date_field :start_date
  .field
    = f.label :end_date
    .row
      .col.md6
        = f.date_field :end_date
  .field.hide
    = f.label :user_id
    = f.text_field :user_id, :readonly => true, :value => current_user.id
  .actions
    = f.submit 'Save'
